build/
build-emscripten/
.cache/

# GLM library stuff is only for Emscripten
external/glm/

# WGPU precompiled libraries are comically large
external/wgpu-native/linux-debug/lib/
external/wgpu-native/linux-release/lib/

# Meson subprojects
subprojects/packagecache
subprojects/wgpu-native*
subprojects/dawn
subprojects/glfw-3.3.10
subprojects/glfw-3.4
subprojects/glm-1.0.1